body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 60vh;
  border-radius: 5px;
  border: 0.5px solid lightseagreen;
}

.login {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  border-color: lightseagreen;
  width: 55%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 0.5em;
}

button {
  width: 60%;
  padding: 10px;
  background-color: lightseagreen;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.username {
  font-weight: bold;
  color: lightseagreen;
  position: absolute;
  top: 15px;
  right: 20px;
}

h2{
  margin-bottom: 30px;
  background-color: lightseagreen;
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
}

.cards-container{
  background-color: white;
  overflow-y: scroll;
  max-height: 35em;
}

.chat-container{
  margin-left: 20em;
  background-color: black;
  overflow-y: scroll;
  max-height: 35em;
}

.add-container{
  align-items: center;
  background-color: lightseagreen;
  height: 2em;
}

.addImg{
  align-items: center;
  width: 20px;
  height: 20px;
  padding-top: 0.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}